<div class="body">
    <div class="head text-center">
        <h2>
            OPEN FOR Reserving
        </h2>
        <p>
            please call <span style="color: cadetblue; cursor: pointer;">415.981.0983</span> for reservations</p>
            <p>
            or online through <span style="color: cadetblue; cursor: pointer;">openRooms</span>
        </p>
    </div>
    <div class="body-img">
        <div class="layer">

        </div>
    </div>
    <div class="footer-details pt-5 text-center">
        <p>
            PLEASE SEE OUR PUBLISHED <br>
         HEALTH AND SAFETY PROTOCOLS <br>
       <span style="color: rgb(239 240 255);
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;">AND BE AWARE OF LOCAL GUIDELINES</span>  <br>
        RELATED TO INDOOR DINING AT RESTAURANTS.
        </p>
        <span class=" pt-3 fw " style=" font-size: 24px; font-weight: 500;">
            KALI OREXI!
        </span>
        <div class="footer-links py-5 ">
            <div class="container w-50 d-flex justify-content-between">
                <a class="  text-decoration-none p-3" routerLink="/Home/hello">PRESS ROOM</a>
                <a class="  text-decoration-none p-3" routerLink="/Home/hello">ROOMS GUIDE</a>
                <a class="  text-decoration-none p-3" routerLink="/Home/hello">CONTACT</a>
            </div>
        </div>
       
    </div>
</div>