<div class="container py-5 g-4">
    <div class="row">
        <div class="col-md-6">
            <div class="header-box">
                <h2>
                    Philoxenia <span>
                        —
                    </span>
                    <strong>φιλοξενια</strong>
                </h2>

                <p>
                    At Kokkari Estiatorio, we are driven by the concept of philoxenia, the art of making a stranger a friend. This philosophy drives our efforts to create a cuisine fit for the gods with the hospitality of a proper Greek home — a restaurant that you would never want to leave.
                </p>

                <p>
                    Named after a small fishing village on the island of Samos in the Aegean Sea, Kokkari is the sister restaurant to acclaimed Evvia Estiatorio in Palo Alto, California.
                </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et asperiores possimus est perspiciatis reprehenderit voluptatibus dicta alias recusandae atque enim quis, quia ipsam aspernatur quae. Eligendi praesentium magni quas blanditiis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium necessitatibus eum, vel aliquid inventore modi ratione labore. Illum accusantium modi eos laboriosam non, pariatur quasi asperiores, repudiandae unde inventore laborum accusamus consectetur nesciunt ab corrupti porro quae aliquam consequuntur doloremque qui. Eum, cumque perferendis unde temporibus reiciendis tenetur molestias facere.
                    </p>
            </div>
        </div>
        <div class="col-md-6 ">
          
                <div class="box-img sec-img pt-5">
                    <img class=" w-100" src="../../assets/img/images.jpeg" alt="">
                </div>
               
           
            
            
    </div>
    <div class="col-md-6 ">
          
        <div class="box-img sec-img pt-5">
            <img class=" w-100" src="../../assets/img/Cover-Paul-v2-127-427px.jpg" alt="">
        </div>
    </div>
    <div class="col-md-6 pt-5">
        <div class="creator-box pt-3 w-75 m-auto">
            <div class="info">
                <div class=" creator-info border-black p-3">
                    <ul class=" text-center list-unstyled">
                        <li>
                            <h3>KOKKARI ESTIATORIO</h3>
                        </li>
                        <li>
                            <p>200 Jackson Street (at Front St.)</p>
                            <span>San Francisco, CA 94111</span>
                        </li>
                        <li>
                            p: <span style="color: brown;">415.981.0983</span>
                        </li>
                        <li>
                            fx: 415.982.0983
                        </li>
                        <li style="color: brown; ">
                            reservations & hours
                        </li >
                        <li style="color: brown;">
                            directions via mobile map
                        </li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tempora, odit illum suscipit quas alias voluptate similique beatae molestias quaerat?
                    </p>
                </div>
            </div>
        </div>
       </div>


</div>