<div class="container py-5">
    <div class="header text-center py-2">
        <h2>
            <em style="text-decoration-line: line-through;">OUR SERVICES</em> 
         </h2>
    
    </div>
<div class="row">
    <div class="col-md-6 pt-5 d-flex align-items-center">
        <div class="contact-methods pt-3">
            <ul class=" list-unstyled">
                <li class=" p-2 text-white">
                    <i class=" fas fa-phone"></i><span class=" ps-3">:1324-1235-1325</span>
                </li>
                <li class=" p-2 text-white">
                    <i class=" fas fa-phone"></i><span class=" ps-3">:1324-1235-1325</span>
                </li>
                <li class=" p-2 text-white">
                    <i class=" fas fa-phone"></i><span class=" ps-3">:1324-1235-1325</span>
                </li>
                <li class=" p-2 text-white">
                    <i class=" fas fa-phone"></i><span class=" ps-3">:1324-1235-1325</span>
                </li>   
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <form class="" action="">
            <div class="form-head text-center p-2 text-black-50">
                <h3 class="">
                    let Your Message here
                   </h3> 
            </div>
           
            <div class="form-floating mb-3 ">
             <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
             <label for="floatingInput">Email address</label>
           </div>
           <div class="form-floating ">
             <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
             <label for="floatingPassword">Password</label>
             
           </div>
           <div class=" py-3">
             <div class="form-floating">
                 <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                 <label for="floatingTextarea">Comments</label>
               </div>
           </div>
          <button type="submit" class="btn btn-primary px-4">
            Send
          </button>
         </form>
    </div>
</div>
  
</div>
