<div class="container py-5">
    <div class="header text-center">
        <h2>
            <em style="text-decoration-line: line-through;">Our Rooms</em> 
         </h2>
    </div>
<div class="row py-5 g-4 ">
    <div class="col-md-4">
        <div class="room p-1 ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room p-1 ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room p-1 ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="room ">
            <img class=" w-100" src="../../assets/img/room.jpeg" alt="">
            <div class="rooms-desc bg-light text-center pt-2">
                <h3>RoyalRoom</h3>
                <p>                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat autem ipsum explicabo, atque dolores delectus?
                </p>
                <div class="room-details bg-light text-center">
                    FOR MORE DETAILS <i class="lo fa fa-magnifying-glass-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>

</div>
</div>