<div class="container py-5">
    <div class="header text-center">
        <h2>
            <em style="text-decoration-line: line-through;">OUR SERVICES</em> 
         </h2>
    </div>
   <div class="row gx-3 gy-5 pt-5">
    <div class="col-md-6 d-flex align-items-center">
        <div class="services-box ">
            <h4>
                Massage Room
            </h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic perspiciatis placeat blanditiis, exercitationem a tenetur necessitatibus expedita commodi odit rem earum nobis deserunt error recusandae voluptate sint vero maxime numquam.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="services-img">
                <img class=" w-100
                " src="../../assets/img/massage.jpeg" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="services-img">
                <img class=" w-100
                " src="../../assets/img/resturant.jpeg" alt="">
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
        <div class="services-box text-center p-3 ">
            <h4>
                Hotel Resturants
            </h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis ex quis provident sint. Sed accusantium placeat magni porro. Eaque debitis, minima dolores accusantium maxime sequi molestias odio earum molestiae inventore ad eligendi aliquid ut voluptate.
            </p>
        </div>
    </div>
   
    <div class="col-md-6 d-flex align-items-center">
        <div class="services-box text-center p-4">
            <h4>
                Gym
            </h4>
            <p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit minima sit laboriosam quas blanditiis odio autem repudiandae porro ad a accusantium temporibus architecto earum sequi voluptatum accusamus sapiente ut esse cupiditate, similique voluptatibus? Dolores dolor adipisci commodi. Dolor eum neque accusantium, earum, consequuntur rerum voluptatibus fuga quibusdam quis itaque illo.        </div>
    </div>
    <div class="col-md-6">
        <div class="services-img">
                <img class=" w-100
                " src="../../assets/img/gym.jpeg" alt="">
        </div>
    </div>
   </div>
   <footer class=" text-center py-3">
    <p>
        for more About Ouer services  <i class="la fa fa-square-arrow-up-right">
        </i>
    </p>
   </footer>
</div>