<div class=" all">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
    <div class="footer-footer text-center pb-5">
        <p><span routerLink="/Home/Kokkari" style="cursor: pointer;">KOKKARI </span><span>  EVVIA</span> </p>
        <p>
            KOKKARI ESTIATORIO <br>
            200 Jackson Street (at Front St.) <br>
            San Francisco, CA 94111 <br>
            <span style="color: rgb(239 240 255);
cursor: pointer;
font-size: 19px;
font-weight: 500;"> p: 415.981.0983</span> fx:415.982.0983 <br>
        </p>
        <p style="color: rgb(239 240 255);
cursor: pointer;
font-size: 19px;
font-weight: 500;">reservations & hours <br>
            directions</p>
    </div>
    <footer class=" text-center text-white w-100 d-flex align-items-center justify-content-center">
        <p>
           <col> crated by Mohamed Abugabal
        </p>
    </footer>
    
    <app-footer></app-footer> 
</div>
